name: Contributors
on:
  schedule:
    - cron: '* * * 10 *'
  push:
    branches:
      - master
jobs:
  check:
      runs-on: ubuntu-latest

      steps:
       - name: Checkout
         uses: actions/checkout@master
       - name: Verify
         uses: vchain-us/verify-action@master
#          with:
#           signerID: ${{ secrets.SIGN_TOKEN }}
   
  contributors:
    runs-on: ubuntu-latest
    steps:
      - uses: wow-actions/contributors-list@v1
        with:
          GITHUB_TOKEN: ${{ secrets.CONTRIBUTORS_TOKEN }}
          round: true,
          userNameHeight: 15
          commitMessage: 'chore: update contributors'
          itemTemplate: >
            <g transform="translate({{ x }}, {{ y }})">
              <a xlink:href="{{{ url }}}" target="_blank" rel="nofollow sponsored" title="{{{ name }}}" id="{{{ name }}}">
                <image width="{{ width }}" height="{{ height }}" xlink:href="{{{ avatar }}}" />
                <text x="32" y="74" text-anchor="middle" alignment-baseline="middle" font-size="10">{{{ name }}}</text>
              </a>
            </g>
